@model WebStatisMVC.Models.Articles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Excerpt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Excerpt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publish_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publish_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Featured_images)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Html.DisplayFor(model=> model.Featured_images)" style="width:50%; max-height:400px; object-fit:cover"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time_read)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time_read)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>